.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500");
  background-size: cover;
}

.loginTitle {
  font-size: 50px;
}

.loginFrom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginFrom > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(252, 173, 173);
}

.loginRegisterButton {
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}
