.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerFrom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerFrom > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.registerLoginButton {
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}
