.singleBook {
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleBook > div {
  border: 1px solid #015ba4;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.singleImg {
  height: 500px;
}

.singleBookTitle {
  font-size: 35px;
  margin: 10px 0px;
  color: #015ba4;
  /* color: transparent;
  background: linear-gradient(#eee, #333);
  background-clip: text; */
}

.singleInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.singleBookAuthor {
  font-size: 14px;
  color: #64a0d180;
}

.singleBookDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}
.singleBookDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.singleBookIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singleBookIcon:first-child {
  color: #015ba4;
}
.singleBookIcon:last-child {
  color: tomato;
}

.singleBTN {
  padding: 10px;
  width: 10%;
  border: none;
  background-color: #015ba4;
  color: #fff;
  border-radius: 5px;
  align-self: center;
  margin: 15px 0px;
  cursor: pointer;
}

/* Increment and Decrement Book Style */
.IncDecBook {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 20%;
  font-size: 18px;
}

.IncDec {
  color: #fff;
  background-color: #015ba4;
  padding: 7px;
}

.bookValue {
  margin: 5px 30px;
}

/*  Style Updated Mode */
.titleInput {
  background: none;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 10px 0px;
  color: #015ba4;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.descInput {
  background: none;
  width: 100%;
  color: #666;
  font-size: 15px;
  line-height: 25px;
  height: 400px;
  outline: none;
}

.update {
  background-color: #00adbb;
}

/* Style Deleted Mode */
.popup {
  background-color: #a5c5e4;
  width: 30%;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: mymove 0.7s;
}

.popupBtn {
  padding: 10px;
  width: 30%;
  border: none;
  background-color: #015ba4;
  color: #fff;
  border-radius: 5px;
  align-self: center;
  margin: 25px 10px;
  cursor: pointer;
}

.content {
  font-size: 20px;
}

.Tologin,
.continue {
  background: #00adbb;
}

.delete {
  background: rgb(187, 41, 16);
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 400px;
  }
}
